<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/my.css" th:href="@{/css/my.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="bookmark" th:href="@{/images/favicon.ico}" type="image/x-icon">
</head>
<body>

<!--引入顶部导航栏	-->
<div th:replace="~{component/bar::admin_topbar(4)}"></div>
<!--中间内容-->
<div class="ui inverted attached segment">
    <br><br>
    <!--  内容   -->
    <div class="ui inverted container">
        <!--
        <form action="#" method="post" class="ui inverted segment form">
            <div class="inline fields">
                <div class="required field">
                    <div class="ui labeled input">
                        <div class="ui teal basic label">曲名</div>
                        <input type="text" name="name" placeholder="歌曲名称">
                    </div>
                </div>
                <div class="field">
                    <button class="ui mini teal basic button">
                        <i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </form>
        -->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示</div>
            <p th:text="${message}">操作成功</p>
        </div>
        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>名字</th>
                <th>作者</th>
                <th>url</th>
                <th>图片</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="music,iterStat : ${page.content}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${music.name}"></td>
                <td th:text="${music.artist}"></td>
                <td th:text="${music.url}"></td>
                <td th:text="${music.cover}"></td>
                <td>
                    <a href="#" th:href="@{/admin/musics/{id}/edit(id=${music.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/musics/{id}/delete(id=${music.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui right floated pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/musics(page=${page.number}-1)}" th:unless="${page.first}"
                           class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a th:href="@{/admin/musics(page=${page.number}+1)}" th:unless="${page.last}" class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                    <a href="#" th:href="@{/admin/musics/input}" class="ui left floated green button">上传</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <br><br><br><br><br><br>
</div>

<!--引入footer-->
<div th:replace="~{component/bar::footer}"></div>

<!--  导入的js  -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--  自定义js  -->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('my-mobile-hide');
    });
    $('.ui.dropdown').dropdown();

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>