<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>分类管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/my.css" th:href="@{/css/my.css}">
    <link rel="stylesheet" href="/static/lib/editormd/css/editormd.min.css"
          th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="bookmark" th:href="@{/images/favicon.ico}" type="image/x-icon">
</head>
<body>
<!--引入顶部导航栏	-->
<div th:replace="~{component/bar::admin_topbar(1)}"></div>

<!--中间内容-->
<div class="ui inverted attached segment">
    <!--  内容   -->
    <div class="ui container">
        <form action="#" method="post" th:object="${type}"
              th:action="*{id}!=0? @{/admin/types/{id}(id=*{id})}:@{/admin/types}" class="ui inverted segment form">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui teal basic label">名称</div>
                    <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                </div>
            </div>
            <div class="ui error message"></div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">验证失败</div>
                <p th:errors="*{name}">提交信息不符合规则</p>
            </div>
            /*/-->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">新增</button>
            </div>
        </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<!--引入footer-->
<div th:replace="~{component/bar::footer}"></div>

<!--  导入的js  -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="/static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<!--  自定义js  -->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('my-mobile-hide');
    });
    $('.ui.dropdown').dropdown();

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '请输入分类'
                }]
            }
        }
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>