spring:
  thymeleaf:
    mode: HTML
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
comment.adminAvater: /images/logo.png
comment.otherAvater: /images/comment.jpg
