.my-padded-menu-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.my-padded-footer-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.my-padded {
    padding: 0.8em !important;
}

.my-text {
    foot-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}

.m-margin-bottom-mini {
    margin-bottom: 0.5em !important;
}

.my-margin-th-tiny {
    margin-bottom: 0.5em !important;
    margin-top: 0.5em !important;
}

/*-position-*/
.my-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.my-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.my-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

.my-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .my-mobile-hide {
        display: none !important;
    }

    .my-mobile-show {
        display: block !important;
    }

    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-wide {
        width: 100% !important;
    }
}
